In [21]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [22]:
df = pd.read_csv(os.path.join('datasets', 'dataset-06-storms.csv'),encoding = "latin")

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,9,10,11,12,16,17,27,28,29,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
df

df = df.setindex(refnum)

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...,902297.0

In [37]:
def clean_up_evtype(column):
   if column.upper().find("SUMMARY") != -1:
       return np.nan
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'LANDSLIDE':
       return "AVALANCHE"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'EXTREME WINDCHILL':
       return "COLD/WIND CHILL"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'HEAT':
       return "EXCESSIVE HEAT"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'DRY MICROBURST':
       return "EXCESSIVE HEAT"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'FLASH FLOODING':
       return "FLASH FLOOD"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'URBAN/SML STREAM FLD':
       return "FLOOD"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'COASTAL FLOOD':
       return "FLOOD"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'FLOOD/FLASH FLOOD':
       return "FLOOD"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'URBAN FLOOD':
       return "FLOOD"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'RIVER FLOOD':
       return "FLOOD"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'SNOW':
       return "HEAVY SNOW"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'HEAVY SURF/HIGH SURF':
       return "HIGH SURF"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'STRONG WIND':
       return "HIGH WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'HIGH WINDS':
       return "HIGH WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'HURRICANE':
       return "HURRICANE/TYPHOON"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'MARINE TSTM WIND':
       return "MARINE THUNDERSTORM WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'RIP CURRENTS':
       return "RIP CURRENTS"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'FREEZING RAIN':
       return "SLEET"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'STORM SURGE':
       return "STORM TIDE"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'WIND':
       return "STRONG WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'STRONG WINDS':
       return "STRONG WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'TSTM WIND':
       return "THUNDERSTORM WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'THUNDERSTORM WINDS':
       return "THUNDERSTORM WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'TSTM WIND/HAIL':
       return "THUNDERSTORM WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'THUNDESTORM WINDS':
       return "THUNDERSTORM WIND"

[8:38] 
elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'TSTM WIND/HAIL':
       return "THUNDERSTORM WIND"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'WILD/FOREST FIRE':
       return "WILDFIRE"
   elif column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789') == 'WINTER WEATHER/MIX':
       return "WINTER WEATHER"
   else:
       return column.upper().replace("/","").strip().replace(".","").translate(None, '0123456789')
   
print df['EVTYPE'].apply(clean_up_evtype)

SyntaxError: invalid syntax (<ipython-input-37-427a86c59271>, line 55)

In [24]:
df.describe()

//anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,STATE__,COUNTY,BGN_RANGE,COUNTY_END,COUNTYENDN,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REFNUM
count,902297.000000,902297.000000,902297.000000,902297.0,0.0,...,902250.000000,902297.000000,902257.000000,902297.000000,902297.000000
mean,31.200958,100.642905,1.483889,0.0,NaN,...,2874.942950,6939.538350,1451.611545,3509.139732,451149.000000
std,16.570178,107.276509,5.481574,0.0,NaN,...,1657.648801,3958.062506,1858.727873,4475.682973,260470.852256
min,1.000000,0.000000,0.000000,0.0,NaN,...,0.000000,-14451.000000,0.000000,-14455.000000,1.000000
25%,19.000000,31.000000,0.000000,0.0,NaN,...,NaN,7247.000000,NaN,0.000000,225575.000000
50%,30.000000,75.000000,0.000000,0.0,NaN,...,NaN,8707.000000,NaN,0.000000,451149.000000
75%,45.000000,131.000000,1.000000,0.0,NaN,...,NaN,9605.000000,NaN,8735.000000,676723.000000
max,95.000000,873.000000,3749.000000,0.0,NaN,...,9706.000000,17124.000000,9706.000000,106220.000000,902297.000000

In [26]:
df.plot.line()

In [30]:
pd.tools.plotting.scatter_matrix(df[['STATE_','COUNTY']]

SyntaxError: unexpected EOF while parsing (<ipython-input-30-dc6d71ae2305>, line 1)

In [33]:
pd.isnull()

['STATE__',
 'BGN_DATE',
 'BGN_TIME',
 'TIME_ZONE',
 'COUNTY',
 'COUNTYNAME',
 'STATE',
 'EVTYPE',
 'BGN_RANGE',
 'BGN_AZI',
 'BGN_LOCATI',
 'END_DATE',
 'END_TIME',
 'COUNTY_END',
 'COUNTYENDN',
 'END_RANGE',
 'END_AZI',
 'END_LOCATI',
 'LENGTH',
 'WIDTH',
 'F',
 'MAG',
 'FATALITIES',
 'INJURIES',
 'PROPDMG',
 'PROPDMGEXP',
 'CROPDMG',
 'CROPDMGEXP',
 'WFO',
 'STATEOFFIC',
 'ZONENAMES',
 'LATITUDE',
 'LONGITUDE',
 'LATITUDE_E',
 'LONGITUDE_',
 'REMARKS',
 'REFNUM']

In [35]:
df['FATALITIES'].value_counts()

0.0      895323
1.0        5010
2.0         996
3.0         314
4.0         166
          ...
36.0          1
34.0          1
158.0         1
26.0          1
583.0         1
Name: FATALITIES, dtype: int64

In [39]:
pd.isnull(df)

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,False,False,False,False,False,...,False,False,False,True,False
1,False,False,False,False,False,...,False,False,False,True,False
2,False,False,False,False,False,...,False,False,False,True,False
3,False,False,False,False,False,...,False,False,False,True,False
4,False,False,False,False,False,...,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
902292,False,False,False,False,False,...,False,False,False,False,False
902293,False,False,False,False,False,...,False,False,False,False,False
902294,False,False,False,False,False,...,False,False,False,False,False
902295,False,False,False,False,False,...,False,False,False,False,False
902296,False,False,False,False,False,...,False,False,False,False,False

In [40]:
df.head()

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0

In [43]:
df['INJURIES'].value_counts()

0.0       884693
1.0         7756
2.0         3134
3.0         1552
4.0          931
           ...
144.0          1
143.0          1
142.0          1
138.0          1
1700.0         1
Name: INJURIES, dtype: int64

In [47]:
df.corr()

,STATE__,COUNTY,BGN_RANGE,COUNTY_END,COUNTYENDN,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REFNUM
STATE__,1.000000,0.306231,0.045905,NaN,NaN,...,-0.006642,-0.024199,-0.029509,-0.039056,0.090742
COUNTY,0.306231,1.000000,0.054419,NaN,NaN,...,0.034407,0.097044,0.007791,0.032864,0.017981
BGN_RANGE,0.045905,0.054419,1.000000,NaN,NaN,...,0.071263,0.089530,0.111696,0.123731,0.115187
COUNTY_END,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
COUNTYENDN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
LATITUDE,-0.006642,0.034407,0.071263,NaN,NaN,...,1.000000,0.950481,0.450664,0.425717,0.023350
LONGITUDE,-0.024199,0.097044,0.089530,NaN,NaN,...,0.950481,1.000000,0.431528,0.450961,-0.001322
LATITUDE_E,-0.029509,0.007791,0.111696,NaN,NaN,...,0.450664,0.431528,1.000000,0.980109,0.105456
LONGITUDE_,-0.039056,0.032864,0.123731,NaN,NaN,...,0.425717,0.450961,0.980109,1.000000,0.102480
REFNUM,0.090742,0.017981,0.115187,NaN,NaN,...,0.023350,-0.001322,0.105456,0.102480,1.000000

In [48]:
df.dropna()

Empty DataFrame
Columns: [STATE__, BGN_DATE, BGN_TIME, TIME_ZONE, COUNTY, COUNTYNAME, STATE, EVTYPE, BGN_RANGE, BGN_AZI, BGN_LOCATI, END_DATE, END_TIME, COUNTY_END, COUNTYENDN, END_RANGE, END_AZI, END_LOCATI, LENGTH, WIDTH, F, MAG, FATALITIES, INJURIES, PROPDMG, PROPDMGEXP, CROPDMG, CROPDMGEXP, WFO, STATEOFFIC, ZONENAMES, LATITUDE, LONGITUDE, LATITUDE_E, LONGITUDE_, REMARKS, REFNUM]
Index: []

[0 rows x 37 columns]

In [49]:
df.dropna(axis=1)

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,PROPDMG,CROPDMG,LONGITUDE,LONGITUDE_,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,25.0,0.0,8812.0,8806.0,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,2.5,0.0,8755.0,0.0,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,25.0,0.0,8742.0,0.0,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,2.5,0.0,8626.0,0.0,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,2.5,0.0,8642.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,0.0,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,0.0,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,0.0,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,0.0,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,0.0,902297.0

TypeError: 'tuple' object is not callable

In [51]:
df.corr()

,STATE__,COUNTY,BGN_RANGE,COUNTY_END,COUNTYENDN,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REFNUM
STATE__,1.000000,0.306231,0.045905,NaN,NaN,...,-0.006642,-0.024199,-0.029509,-0.039056,0.090742
COUNTY,0.306231,1.000000,0.054419,NaN,NaN,...,0.034407,0.097044,0.007791,0.032864,0.017981
BGN_RANGE,0.045905,0.054419,1.000000,NaN,NaN,...,0.071263,0.089530,0.111696,0.123731,0.115187
COUNTY_END,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
COUNTYENDN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
LATITUDE,-0.006642,0.034407,0.071263,NaN,NaN,...,1.000000,0.950481,0.450664,0.425717,0.023350
LONGITUDE,-0.024199,0.097044,0.089530,NaN,NaN,...,0.950481,1.000000,0.431528,0.450961,-0.001322
LATITUDE_E,-0.029509,0.007791,0.111696,NaN,NaN,...,0.450664,0.431528,1.000000,0.980109,0.105456
LONGITUDE_,-0.039056,0.032864,0.123731,NaN,NaN,...,0.425717,0.450961,0.980109,1.000000,0.102480
REFNUM,0.090742,0.017981,0.115187,NaN,NaN,...,0.023350,-0.001322,0.105456,0.102480,1.000000

In [19]:
pd.DataFrame(columns=['FATALITIES', 'EV_TYPE'])

Empty DataFrame
Columns: [FATALITIES, EV_TYPE]
Index: []

In [35]:
np.sort(df.PROPDMGEXP.unique())

TypeError: unorderable types: str() > float()

In [29]:
##df[(df.FATALITIES > 0).EVTYPE.valuecounts()]

df[(df.FATALITIES > 0)&(df.PROPDMG > 0)&(df.CROPDMG > 0)].EVTYPE.value_counts()

FLOOD                    47
TORNADO                  43
FLASH FLOOD              43
HURRICANE                12
HIGH WIND                10
                         ..
LANDSLIDE                 1
HEAVY RAIN                1
HURRICANE ERIN            1
TROPICAL STORM GORDON     1
FLASH FLOODING            1
Name: EVTYPE, dtype: int64

In [39]:
df[(df.FATALITIES > 0)|(df.PROPDMG > 0)|(df.CROPDMG > 0)].EVTYPE.value_counts()

TSTM WIND                    61736
THUNDERSTORM WIND            43503
TORNADO                      39511
HAIL                         25977
FLASH FLOOD                  20897
                             ...
LAKE FLOOD                       1
SNOW/ICE                         1
COASTAL  FLOODING/EROSION        1
STORM FORCE WINDS                1
Freezing drizzle                 1
Name: EVTYPE, dtype: int64

In [40]:
df.EVTYPE.plot("TSTM WIND", kind=bar)

NameError: name 'bar' is not defined